<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FIONA.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FIONA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FIONA.Properties.Settings.FIONA_dbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FIONA_db.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FIONA.Properties.Settings.fiona_dbConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\fiona-db.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <FIONA.Settings1>
            <setting name="rootAppVar" serializeAs="String">
                <value>null</value>
            </setting>
        </FIONA.Settings1>
    </applicationSettings>
    <userSettings>
        <FIONA.Properties.Settings>
            <setting name="rootAppVar" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="dlAppVar" serializeAs="String">
                <value>null</value>
            </setting>
        </FIONA.Properties.Settings>
    </userSettings>
</configuration>